## **Regression**

In [1]:
#importing libreries 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

In [3]:
#regression algorithms
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
#preprocessing libraries
from sklearn.preprocessing import StandardScaler #for normalization
#splitting the dataset
from sklearn.model_selection import train_test_split
#the metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [4]:
mid = pd.read_csv("./Medical_insurance_dataset.csv")
mid

      User ID  Gender  Age  EstimatedSalary      Purchased
0    15624510    Male   19            19000  not-purchased
1    15810944    Male   35            20000  not-purchased
2    15668575  Female   26            43000  not-purchased
3    15603246  Female   27            57000  not-purchased
4    15804002    Male   19            76000  not-purchased
..        ...     ...  ...              ...            ...
395  15691863  Female   46            41000      purchased
396  15706071    Male   51            23000      purchased
397  15654296  Female   50            20000      purchased
398  15755018    Male   36            33000  not-purchased
399  15594041  Female   49            36000      purchased

[400 rows x 5 columns]

In [5]:
mid.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')